@page "{id}"
@model WebApp.Pages.Orders.EditModel
@using WebApp.Entities
@{
    ViewData["Title"] = "Edit order";
}

<h1>@ViewData["Title"]</h1>
<form asp-page="Orders/Index">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" value="@Model.FirstName" />
        <label for="firstName">First name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" value="@Model.LastName" />
        <label for="lastName">Last name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="@Model.Email" />
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="2000-01-01" value="@Model.BirthDate.ToString("yyyy-MM-dd")" />
        <label for="birthDate">Birth Date</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="destination" asp-for="Destination">
            <option>New York</option>
            <option>Berlin</option>
            <option>Prague</option>
            <option>Sydney</option>
        </select>
        <label for="destination mb-3">Destination</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="discount" asp-for="Discount" asp-items="Html.GetEnumSelectList<Discount>()"></select>
        <label for="discount">Discount</label>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form>
